html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content {
  width: auto;
  /*margin: 100px auto;*/
  position: relative; 
  overflow: hidden;
}

#back-button {
  position: absolute;
  bottom: 15px;
  left: 2%;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  background-color: black;
  padding: 5px 20px 5px 20px;
  z-index: 2;
}

.building-select {
  position: absolute;
}

.building-label {
  position: absolute;
  padding: 5px 10px 5px 10px;
  background-color: #333;
  border-radius: 4px;
  transition-property: transform, visibility, opacity;
  width: 120px;
}

.building-label p { 
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
}

.building-label-bottom-right:after {
  content:'';
  position: absolute;
  right: 2px;
  bottom: -7px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 8px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.building-label-top-right:after {
  content:'';
  position: absolute;
  right: 2px;
  top: -7px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 8px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hidden-element {
  display: none !important;
}

#building-menu {
    font-family: Georgia, serif;
    padding: 5px;
    z-index: 100;
    position: absolute;
    right: 2%;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 98%;
}

#building-menu a {
  font-size: 0.9em;
  display: block;
  margin: 5px 0.5em;
  font-weight: bold;
}

#building-menu a {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  cursor: grab;
  opacity: 0.8;
}

#building-menu-problem {
  margin: 0;
}

#building-menu-content, #building-menu-content-problem {
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  margin: 5px 0.5em;
  padding: 20px 10px 20px 10px;
}

#building-menu-title, #building-menu-title-problem {
  font-weight: bold;
  font-size: 1.5em;
}

#building-menu-description p, #building-menu-description-problem p {
  font-size: 0.8em;
}

#building-menu-content h3, #building-menu-content-problem h3 {
  margin: 5px 0 5px 0;
}

#homescreen-image, #homescreen-video {
  width: auto;
}

#bottom-menu {
  font-family: Georgia, serif;
  position: absolute;
  bottom: 15px;
  width: 98%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
}

#bottom-menu a {
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  cursor: grab;
  opacity: 0.8;
  line-height: 2;
}

#audio-button {
  background-image: url(../img/sound_off.png);
  width: 35px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

#bar-button {
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
    /*#main-content {
        margin: 0 auto;
        width: 80%;        
    }*/   
}

/* COUNTDOWN STYLE BEGINING*/
#countdown {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  margin: auto;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

#countdown svg {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
/*COUNTDOWN STYLE END*/

/* LOADING START */
#loading-animation {
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.8;
  position: absolute;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#fff 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation: l16 1s infinite;
}
@keyframes l16 {
   0%   {background-position:0    0   ,10px 10px,20px 20px} 
   50%  {background-position:0    20px,10px 10px,20px 0   } 
   100% {background-position:20px 20px,10px 10px,0    0   } 
}
/* LOADING END */