html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
}

#content {
  width: 100%;
  height: 100%;  
  min-width: 1024px;
  display: flex;
  align-items: center;  
  justify-content: center;
}

#main-content {
  width: auto;
  min-width: 1024px;
  position: relative;   
}

#back-button {
  position: absolute;
  bottom: 15px;
  left: 2%;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  background-color: black;
  padding: 5px 20px 5px 20px;
  z-index: 4;
}

.building-select {
  position: absolute;
}

.building-label {
  position: absolute;
  padding: 5px 10px 5px 10px;
  background-color: #333;
  border-radius: 4px;
  transition-property: transform, visibility, opacity;
  width: 50%;
  min-width: 120px;
}

.building-label p { 
  font-family: VerizonNHGeTX-Bold;
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 70%;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
}

.building-label-bottom-right:after {
  content:'';
  position: absolute;
  right: 2px;
  bottom: -7px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 8px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.building-label-top-right:after {
  content:'';
  position: absolute;
  right: 2px;
  top: -7px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 8px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hidden-element {
  display: none !important;
}

#building-menu {
    padding: 5px;
    z-index: 1;
    position: absolute;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 98%;
    right: 2%;
}

.menu-left {
  left: 2% !important;
}

#building-menu a {
  font-family: VerizonNHGeTX-Bold;
  font-size: 2vh;
  display: block;
  margin: 5px 0.5em;  
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  cursor: grab;
  opacity: 0.8;
}

#building-menu-main,
#building-menu-problem,
#building-menu-work {
  margin: 0;
}

#building-menu-content,
#building-menu-content-problem, 
#building-menu-content-work {
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  margin: 5px 0.5em;
  padding: 10px;
}

#building-menu-title, 
#building-menu-title-problem,
#building-menu-title-work {
  font-family: VerizonNHGeTX-Bold;
  font-size: 2.2vh;
}

#building-menu-description p,
#building-menu-description-problem p,
#building-menu-description-work p {
  font-family: VerizonNHGeTX-Regular;
  font-size: 0.8em;
}

#building-menu-content h3, 
#building-menu-content-problem h3,
#building-menu-content-work h3 {
  margin: 5px 0 5px 0;
}

#building-menu-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
}

#homescreen-image, #homescreen-video {
  width: 100%;
}

#bottom-menu {
  font-family: VerizonNHGeTX-Bold;
  font-size: 1.5vh;
  position: absolute;
  bottom: 15px;
  width: 98%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 3;
}

#bottom-menu a {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  cursor: grab;
  opacity: 0.8;
  line-height: 1.5vh;  
}

#audio-button {
  background-image: url(../img/sound_off.png);
  width: 2.5vw;
  background-size: 2vw 3vh;
  background-repeat: no-repeat;
  background-position: center;
}

#bar-button {
  display: flex;
  align-items: center;
}

#subtitle-content {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

#subtitle-content p {
  font-family: VerizonNHGeTX-Regular;
  font-size: 3vh;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}

.selected-item {
  opacity: 0.8 !important; 
  background-color: #333 !important; 
  color: #fff !important;
}

/* COUNTDOWN STYLE BEGINING*/
#countdown {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  margin: auto;
  top: 5px;
  left: 5px;
  height: 4vh;
  width: 4vh;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
  z-index: 3;
}

#countdown .path--background {
  fill: #fff;
  stroke: #333;
  stroke-width: 0px;
}

#countdown .path--foreground {
  fill: #eee;
  stroke: #eee;
  stroke-width: 2px;
}

#countdown .label {
  font-family: "VerizonNHGeTX-Bold";
  font-weight: 900;
  text-anchor: middle;
  fill: #fff;
}
/*COUNTDOWN STYLE END*/

/* LOADING START */
#loading-animation {
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.8;
  position: absolute;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#fff 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation: l16 1s infinite;
}
@keyframes l16 {
   0%   {background-position:0    0   ,10px 10px,20px 20px} 
   50%  {background-position:0    20px,10px 10px,20px 0   } 
   100% {background-position:20px 20px,10px 10px,0    0   } 
}
/* LOADING END */

/* ANIMATION EFFECT FOR SELECTED ITEM IN LIST */
.animated-item {
  /*position: absolute;*/
  animation-name: flicker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:flicker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes flicker{  
  10% { opacity: 0.8; background-color: #333; color: #fff; }
  30% { opacity: 0.5; background-color: #333; color: #fff; }
  50% { opacity: 0.0; background-color: #333; color: #fff; }
  70% { opacity: 0.5; background-color: #333; color: #fff; }
  90% { opacity: 0.8; background-color: #333; color: #fff; }
}

@-webkit-keyframes flicker {  
  10% { opacity: 0.8; background-color: #333; color: #fff; }
  30% { opacity: 0.5; background-color: #333; color: #fff; }
  50% { opacity: 0.0; background-color: #333; color: #fff; }
  70% { opacity: 0.5; background-color: #333; color: #fff; }
  90% { opacity: 0.8; background-color: #333; color: #fff; }
}

@keyframes flicker {  
  0% { opacity: 1.0; }
  10% { opacity: 0.8; background-color: #333; color: #fff; }
  30% { opacity: 0.5; background-color: #333; color: #fff; }
  50% { opacity: 0.0; background-color: #333; color: #fff; }
  70% { opacity: 0.5; background-color: #333; color: #fff; }
  90% { opacity: 0.8; background-color: #333; color: #fff; }
  100% { opacity: 1.0; }
}
/* ANIMATION EFFECT FOR SELECTED ITEM IN LIST */